
<div class="product-card">
    <section class="product">
        <Product::Image @src={{@product.image}} @product={{@product}} @isDetails={{true}} />
        <Product::Details @product={{@product}} />

    </section>
    <Product::Button @product={{@product}} />
</div>