{{page-title "Cart"}}
<main class="container mt-5 ">
    <h1>Shopping Cart</h1>
    <section class="text-end mt-5">
        <div class="row">
            <span class="col">Subtotal</span>
            <span class="col">{{currency this.subtotal}}</span>
        </div>
        <div class="row">
            <span class="col">Tax</span>
            <span class="col">{{currency this.tax}}</span>
        </div>
        <div class="row">
            <span class="col">Total</span>
            <span class="col">{{currency this.total}}</span>
        </div>
    </section>

    <button type="button" class="btn btn-success float-end mt-5">Check Out</button>
</main>
{{outlet}}