{{page-title "Cart"}}
<GeneralContainer>
    <h1>Shopping Cart</h1>
    <section class="text-end mt-5">
        {{#each this.shopping.itemList as |item|}}
        <div class="d-flex align-items-center cart-item">
            <div class="cart-item-thumbnail">
                <img src={{item.image}} alt="">
            </div>
            <div class="cart-item-quantity"><input 
            type="number" 
            class="ml-auto naked" 
            value={{item.count}}
            {{on "input" (fn this.updateItemCount item)}}
            ></div>
            
            <div class=" cart-item-details">
                <h4> {{item.name}} </h4>
            </div>
        </div>
        {{/each}}
    </section>
    <section class="text-end mt-5">
        <div class="row">
            <span class="col">Total</span>
            <span class="col">{{currency this.total}}</span>
        </div>
    </section>

    <button type="button" class="btn btn-success float-end mt-5">Check Out</button>
</GeneralContainer>


{{outlet}}